<footer class="footer">
  <nav class="footer__arrowContainer">
    <a href="#header" class="footer__arrow">
      <div class="footer__arrowUp"></div>
    </a>
  </nav>
  <div class="footer__box">
    <nav class="footer__linksContainer">
      <ul class="footer__ul">
        <li><a href="https://adalab.es/" class="footer__link">articles</a></li>
        <li><a href="https://adalab.es/" class="footer__link">books</a></li>
        <li><a href="https://adalab.es/" class="footer__link">events</a></li>
        <li><a href="https://adalab.es/" class="footer__link">reasons</a></li>
        <li><a href="https://adalab.es/" class="footer__link">tips</a></li>
      </ul>
    </nav>
    <nav class="footer__linksContainer">
      <ul class="footer__ul">
        <li><a href="https://adalab.es/" class="footer__link">Twitter</a></li>
        <li><a href="https://adalab.es/" class="footer__link">Instagram</a></li>
        <li>
          <a href="https://adalab.es/" class="footer__link">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <section class="footer__smallsContainer">
      <small>&copy; 2021</small>
      <small>we <i class="fas fa-heart footer__heart"></i> components </small>
    </section>
  </div>
</footer>
