<footer class="footer">
  <nav class="footer__arrowContainer">
    <a href="" class="footer__arrow"></a>
  </nav>
  <nav class="footer__linksContainer">
    <ul class="footer__ul">
      <li><a href="" class="footer__link">articles</a></li>
      <li><a href="" class="footer__link">books</a></li>
      <li><a href="" class="footer__link">events</a></li>
      <li><a href="" class="footer__link">reasons</a></li>
      <li><a href="" class="footer__link">tips</a></li>
    </ul>
  </nav>
  <nav class="footer__linksContainer">
    <ul class="footer__ul">
      <li><a href="" class="footer__link">Twitter</a></li>
      <li><a href="" class="footer__link">Instagram</a></li>
      <li><a href="" class="footer__link">Mastodon.social</a></li>
    </ul>
  </nav>
  <section class="footer__smallsContainer">
    <small class="small">&copy; 2021</small>
    <small class="small">we <i class="fas fa-heart"></i>components </small>
  </section>
</footer>
