<header class="header" id="header">
  <nav class="header__containerMenu">
    <a class="header__menu" href="https://adalab.es/" title="menu">
      <div class="header__burguer"></div>
    </a>
  </nav>
  <section class="hero">
    <section class="hero__container">
      <h1 class="hero__title">anonymous proxy</h1>
      <h2 class="hero__subtitle">In Dev Tools We trust</h2>
    </section>
    <nav class="hero__buttonContainer">
      <a class="hero__button" href="#reason">
        <div class="hero__arrowDown"></div>
      </a>
    </nav>
  </section>
</header>
