<main class="main">
  <article class="looking">
    <small class="looking__small">Insomnia tips</small>
    <h2 class="looking__title">Looking throught a window</h2>
    <p class="looking__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quan odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a href="https://adalab.es/" class="looking__link">Go</a>
  </article>

  <article class="reason" id="reason">
    <h2 class="reason__title">3 reason to purchase</h2>
    <article class="reason__article1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article class="reason__article2">
      <h3>Carabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="reason__article3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a href="https://adalab.es/" class="reason__link">More reason</a>
  </article>
</main>
