<main class="main">
  <article class="looking" id="looking">
    <small class="looking__small">Developer tips</small>
    <h2 class="looking__title">Why so much contemp for layout designer?</h2>
    <p class="looking__paragraph">
      It's not just about old-school backends. To this day, many front-ends
      still do not see the importance of layout. Here we have a link to an
      article that talks about the subject.
    </p>
    <a
      href="https://octuweb.com/defensa-noble-oficio-maquetador/"
      class="looking__link"
      >Go</a
    >
  </article>

  <article class="reason">
    <h2 class="reason__title">3 Reason to be a Developer</h2>
    <article class="reason__article reason__art1">
      <h3 class="reason__subtitle">Innovation</h3>
      <img src="./assets/images/stack.jpeg" alt="meme" class="reason__img" />
    </article>
    <article class="reason__article reason__art2">
      <h3 class="reason__subtitle">Knowledge</h3>
      <img src="./assets/images/stuff.jpg" alt="meme" class="reason__img" />
    </article>
    <article class="reason__article reason__art3">
      <h3 class="reason__subtitle">Community</h3>
      <img src="./assets/images/googling.jpg" alt="meme" class="reason__img" />
    </article>
    <a href="https://dev.to/rly" class="reason__link">More reason</a>
  </article>
</main>
