* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.html {
  scroll-behavior: smooth; }

.body {
  font-family: "Roboto", sans-serif; }

.header__containerMenu {
  background-color: #0271bc;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; }

.header__menu {
  background: url(../images/ico-menu.svg);
  height: 14px;
  width: 16px; }

.footer {
  background-color: #304268;
  line-height: 1.88; }
  .footer__arrowContainer {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.56);
    transform: translate(0, -22.5px);
    margin-left: calc(50% - 22.5px);
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__arrow {
    background: url(../images/ico-arrow.svg) no-repeat;
    height: 24px;
    width: 20.6px; }
  .footer__linksContainer {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding-top: 30px; }
  .footer__ul {
    list-style: none; }
  .footer__link {
    text-decoration: none;
    color: #ffffff; }
  .footer__smallsContainer {
    color: #ffffff;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__heart {
    color: red; }
  @media (min-width: 768px) {
    .footer__box {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .footer__linksContainer {
      padding-top: 0;
      padding-bottom: 45px;
      text-align: initial; }
    .footer__smallsContainer {
      order: -1;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 0; } }

.looking {
  padding: 30px 15px 45px 15px;
  line-height: 30px; }
  .looking__small {
    color: #8ccbea;
    font-size: 14px;
    text-transform: capitalize; }
  .looking__title {
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 24px; }
  .looking__paragraph {
    font-size: 18px;
    padding-bottom: 30px; }
  .looking__link {
    width: 76px;
    height: 45px;
    border: solid #f26002 2px;
    border-radius: 22.5px;
    text-decoration: none;
    color: #f26002;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (min-width: 768px) {
    .looking {
      padding-bottom: 60px; }
    .looking__title {
      font-size: 26px;
      line-height: 45px; }
    .looking__paragraph {
      font-size: 20px; } }

.reason {
  background-color: #eff9ff;
  line-height: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 135px 135px 180px 105px; }
  .reason__title {
    font-size: 24px;
    text-transform: capitalize;
    align-self: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .reason__article1 {
    font-size: 18px;
    width: 184px;
    align-self: end;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .reason__article2 {
    font-size: 18px;
    width: 184px;
    align-self: end;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .reason__article3 {
    font-size: 18px;
    width: 184px;
    align-self: center;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 4 / 5; }
  .reason__link {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    align-self: start;
    width: 184px;
    margin-left: calc(50% - 91px);
    width: 184px;
    height: 45px;
    border: solid #f26002 2px;
    border-radius: 22.5px;
    text-decoration: none;
    background-color: #f26002;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (min-width: 768px) {
    .reason {
      grid-template-columns: 1fr 230px 1fr;
      grid-template-rows: 60px 135px 150px; }
    .reason__title {
      font-size: 26px;
      line-height: 45px;
      grid-column: 1 / 4;
      grid-row: 1 / 2; }
    .reason__article1 {
      margin-left: auto;
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .reason__article2 {
      margin-left: auto;
      margin-right: auto;
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .reason__article3 {
      margin-left: 0;
      align-self: end;
      grid-column: 3 / 4;
      grid-row: 2 / 3; }
    .reason__link {
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 3 / 4; } }

.hero {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0.104079) 25%), url(../images/cover.jpg) center;
  background-size: cover;
  color: #ffffff; }
  .hero__container {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 51vh; }
  .hero__title {
    text-transform: uppercase;
    word-spacing: 100rem;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px; }
  .hero__subtitle {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px; }
  .hero__buttonContainer {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(0, 45px);
    margin-left: calc(50% - 22.5px);
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__button {
    background: url(../images/ico-scroll-down.svg) no-repeat;
    height: 11.7px;
    width: 20px; }
  @media (min-width: 768px) {
    .hero__title {
      font-size: 80px;
      line-height: 106px; }
    .hero__subtitle {
      font-size: 24px; } }

/*# sourceMappingURL=main.css.map */
