.footer {
  background-color: #304268;
  line-height: 1.88;

  &__arrowContainer {
    @include containers(-22.5px);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.56);
  }

  &__arrowContainer:hover {
    @include animation;
  }

  &__arrow {
    @include button;
  }

  &__arrowUp {
    background: url(../images/ico-arrow.svg) no-repeat;
    height: 24px;
    width: 20.6px;
  }

  &__linksContainer {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }

  &__ul {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    display: block;
  }

  &__smallsContainer {
    color: $color-white;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heart {
    color: red;
  }

  @media (min-width: 768px) {
    &__box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__linksContainer {
      padding-top: 0;
      padding-bottom: 45px;
      text-align: initial;
    }

    &__smallsContainer {
      order: -1;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 0;
    }
  }

  @media (min-width: 1200px) {
    &__box {
      justify-content: center;
    }
    &__linksContainer {
      padding-left: 50px;
    }
  }
}
