.header {
  &__containerMenu {
    background-color: #012b47;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__menu {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__burguer {
    background: url(../images/ico-menu.svg);
    height: 14px;
    width: 16px;
  }
}
