.looking {
  padding: 30px 45px 45px 45px;
  line-height: 30px;
  display: flex;
  flex-direction: column;

  &__small {
    width: 100%;
    font-size: 14px;
    color: $color-quaternary;
    text-transform: capitalize;
  }

  &__title {
    font-family: $font-secundary;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: justify;
    text-align-last: center;
  }

  &__paragraph {
    font-size: 18px;
    padding-bottom: 30px;
    text-align: justify;
    text-indent: 10px;
  }

  &__link {
    @include bigButton(76px);
    align-self: center;
  }

  &__link:hover {
    color: $color-secundary;
    background-color: $color-primary;
  }

  @media (min-width: 768px) {
    padding-bottom: 60px;
    &__small {
      font-size: 16px;
    }
    &__title {
      font-size: 26px;
      line-height: 45px;
      padding-top: 10px;
    }
    &__paragraph {
      font-size: 20px;
    }
  }

  @media (min-width: 1024px) {
    padding-left: 275px;
    padding-right: 275px;
    &__small {
      font-size: 16px;
    }
    &__title {
      font-size: 32px;
    }
    &__paragraph {
      line-height: 30px;
    }
  }
}

.reason {
  background-color: $color-tertiary;
  line-height: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 205px 205px 225px 95px;

  &__title {
    font-family: $font-secundary;
    font-size: 30px;
    line-height: 35px;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__article {
    font-size: 18px;
    width: 184px;
    justify-self: center;
  }

  &__art1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__art2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &__art3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  &__subtitle {
    font-family: $font-secundary;
    font-size: 22px;
    text-decoration: none;
    padding-bottom: 5px;
  }

  &__img {
    height: 160px;
  }

  &__link {
    @include bigButton(184px);
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: star;
  }

  &__link:hover {
    color: $color-secundary;
    background-color: $color-primary;
  }

  @media (min-width: 768px) {
    grid-template:
      [row1-start] "a a a" 80px [row1-end]
      [row2-start] "b c d" 265px [row2-end]
      [row3-start] "e e e" 120px [row3-end]/
      1fr 1fr 1fr;
    line-height: 30px;
    &__title {
      font-size: 26px;
      line-height: 45px;
      grid-area: a;
      align-self: end;
    }
    &__article {
      align-self: center;
    }
    &__art1 {
      grid-area: b;
    }
    &__art2 {
      grid-area: c;
    }
    &__art3 {
      grid-area: d;
    }
    &__link {
      grid-area: e;
    }
  }

  @media (min-width: 1024px) {
    &__title {
      font-size: 32px;
    }
  }
}
