.looking {
  padding: 30px 15px 45px 15px;
  line-height: 30px;

  &__small {
    color: #8ccbea;
    font-size: 14px;
    text-transform: capitalize;
  }

  &__title {
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 24px;
  }

  &__paragraph {
    font-size: 18px;
    padding-bottom: 30px;
  }

  &__link {
    @include bigButton(76px);
    color: $color-orange;
  }

  &__link:hover {
    color: $color-white;
    background-color: $color-orange;
  }

  @media (min-width: 768px) {
    & {
      padding-bottom: 60px;
    }

    &__title {
      font-size: 26px;
      line-height: 45px;
    }

    &__paragraph {
      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    & {
      padding-left: 275px;
      padding-right: 275px;
    }

    &__small {
      font-size: 16px;
    }

    &__title {
      font-size: 32px;
    }

    &__paragraph {
      line-height: 30px;
    }
  }
}

.reason {
  background-color: #eff9ff;
  line-height: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 135px 135px 180px 105px;

  &__title {
    font-size: 24px;
    text-transform: capitalize;
    align-self: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__article1 {
    font-size: 18px;
    width: 184px;
    align-self: end;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  &__article2 {
    font-size: 18px;
    width: 184px;
    align-self: end;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &__article3 {
    font-size: 18px;
    width: 184px;
    align-self: center;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  &__link {
    @include bigButton(184px);
    background-color: $color-orange;
    color: $color-white;
    margin-left: calc(50% - 91px);
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    align-self: start;
  }

  &__link:hover {
    color: $color-orange;
    background-color: $color-white;
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: 1fr 230px 1fr;
      grid-template-rows: 60px 135px 150px;
      line-height: 30px;
    }

    &__title {
      font-size: 26px;
      line-height: 45px;
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    &__article1 {
      margin-left: auto;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__article2 {
      margin-left: auto;
      margin-right: auto;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &__article3 {
      margin-left: 0;
      align-self: end;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    &__link {
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 105px 135px 150px;
    }

    &__title {
      font-size: 32px;
      line-height: 45px;
    }

    &__article1 {
      margin-left: 0;
      justify-self: end;
    }
  }
}
